$font-family: 'Open Sans', sans-serif;

$font-size-base: 17px;

$color-text: #0c0c0c;
$color-dark: #202020;
$color-light: #f5f3f3;
$color-primary: #940ba7;
$color-scrollbar: #8b8b8b;

$height-header: 100px;
$height-footer: 120px;


$color-facebook: #5247b4;
$color-google: #d9392a;
$color-github: #1f1f1f;
$color-linkedin: #295fb3;
$color-twitter: #4086f7;
$color-stack-overflow: #f79a35;
