$font-family: 'Open Sans', sans-serif;

$font-size-base: 17px;

$color-text: #0c0c0c;
$color-dark: #202020;
$color-light: #f5f3f3;
$color-primary: #940ba7;
$color-scrollbar: #8b8b8b;
$color-green: #136e10;

$height-header: 60px;
$height-footer: 120px;


$color-facebook: #3b5998;
$color-google: #d34836;
$color-github: #272727;
$color-linkedin: #0077b5;
$color-stack-overflow: #ff7b00;
$color-twitter: #00aced;
