@import '../../styles/_core.scss';

.Header {
	height: $height-header;
	z-index: 999;
	.navbar {
		z-index: 999;
		background-color: $color-primary !important;
		.navbar-nav {
			.nav-item {
				&.active {
					.nav-link {
						color: white !important;
					}
				}
			}
		}
	}
}
