@import '../../styles/core.scss';

.Footer {
	height: $height-footer;
	background-color: darken($color-primary, 15%);
	color: $color-light;
	font-size: 0.9em;
	display: table;
	width: 100%;
	a {
		color: $color-light !important;
	}
	.Footer-content {
		display: table-cell;
		vertical-align: middle;
	}
}
