@import '../../styles/core.scss';

.Footer {
	text-align: center;
	padding: 30px 0px;
	margin-top: 80px;
	background-color: darken($color-primary, 15%);
	color: $color-light;
	font-size: 0.9em;
	a {
		color: $color-light !important;
	}
}
