@import '../../styles/core.scss';

.Crypto {
	textarea {
		color: $color-text;
		background-color: white;
	}
	textarea[disabled] {
		color: $color-text;
		background-color: #fdfdfd;
	}
	margin-bottom: 40px;
}
