@import '../../styles/core.scss';

.Crypto {
	padding-top: 40px;
	margin-bottom: 40px;
	textarea {
		color: $color-text;
		background-color: white;
	}
	textarea[disabled] {
		color: $color-text;
		background-color: #fdfdfd;
	}
}
